<h3 class="ui header">{{t "forms.i-i-s-gladkov-kursovaya-чертежи-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерЧертежа
      class=(if (v-get validationModel "номерЧертежа" "isInvalid") "error")
      label=(t "forms.i-i-s-gladkov-kursovaya-чертежи-e.номерЧертежа-caption")
      data-test-i-i-s-gladkov-kursovaya-чертежи-e-номерЧертежа=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерЧертежа" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gladkov-kursovaya-чертежи-e.датаСоздания-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаСоздания
      class=(if (v-get validationModel "датаСоздания" "isInvalid") "error")
      data-test-i-i-s-gladkov-kursovaya-чертежи-e-датаСоздания=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаСоздания" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gladkov-kursovaya-чертежи-e.заявки-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.заявки
      displayAttributeName="наименДетали"
      autocomplete=true
      relationName="заявки"
      projection="ЗаявкиL"
      title=(t "forms.i-i-s-gladkov-kursovaya-чертежи-e.заявки-caption")
      readonly=readonly
      componentName="заявкиLookup"
      class=(if (v-get validationModel "заявки" "isInvalid") "error")
      data-test-i-i-s-gladkov-kursovaya-чертежи-e-заявки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "заявки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.заявки.материалы.наименование
      class=(if (v-get validationModel.заявки.материалы "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-gladkov-kursovaya-чертежи-e.заявки.материалы.наименование-caption")
      data-test-i-i-s-gladkov-kursovaya-чертежи-e-заявки-материалы-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.заявки.материалы "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-gladkov-kursovaya-чертежи-e.утверждение-caption"}}</label>
    {{flexberry-checkbox
      readonly=readonly
      value=model.утверждение
      class=(if (v-get validationModel "утверждение" "isInvalid") "error")
      data-test-i-i-s-gladkov-kursovaya-чертежи-e-утверждение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "утверждение" "message")}}
  </div>
</form>
